<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias alias="Product" type="com.mackittipat.macmybatis.domain.Product"/>
        <typeAlias alias="OrderProduct" type="com.mackittipat.macmybatis.domain.OrderProduct"/>
        <typeAlias alias="Customer" type="com.mackittipat.macmybatis.domain.Customer"/>
    </typeAliases>

    <mappers>
        <mapper resource="mybatis/mapper/Product.xml"/>
        <mapper resource="mybatis/mapper/OrderProduct.xml"/>
    </mappers>

</configuration>